# To separate your traces from other application
LANGSMITH_PROJECT="unibot"
LANGSMITH_API_KEY=lsv2_xxx
LANGSMITH_TRACING_V2="true"
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# Add API keys for connecting to LLM providers, data sources, and other integrations here
OPENAI_API_KEY=sk-xxx


USER_AGENT='UniBot/1.0 (your-name@domain.com)'